.address-lookup-osm {
    position: relative;
    .results-container {
        position: absolute;
        overflow: auto;
        width: max-content;
        top: 100%;
        background-color: var(--address-lookup-results-container-background-color);
        border: 1px solid var(--address-lookup-results-container-border-color);
    }
    .lookup-result {
        cursor: pointer;
        padding: 6px;
        font-size: var(--address-lookup-results-item-font-size);
        color: var(--address-lookup-results-item-font-color);
    }
    .lookup-result:hover {
        background-color: var(--address-lookup-results-item-hover-color);
    }
}
.address-lookup-osm.looking-up:after {
    content: "";
    position: absolute;
    width: calc(var(--address-lookup-textbox-active-icon-size) + 4px);
    height: 100%;
    right: calc(var(--address-lookup-textbox-active-icon-size) / 2);
    top: 0;
    background-image: var(--address-lookup-textbox-active-icon);
    background-size: var(--address-lookup-textbox-active-icon-size);
    background-position: center;
}
.address-lookup-osm.looking-up input {
    padding-right: calc(var(--address-lookup-textbox-active-icon-size) + 8px);
}